.img{
    /* width: 100%;
    height: 100vh; */
    padding: 1px 1px ;
    margin: none;
}
.material-icons{
    padding: 1px;
}
@media(width:400px) {
    .carousel-img{
         height: 350%;
    }
}
.material-icons{
    padding: 5px;
}